/*! header start  */
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;500;700;900&family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

header * {
    font-family: 'Catamaran', sans-serif;
}

header .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

header .header-left-menu-list {
    display: flex;
    column-gap: 46px;
}

header .header-menu-list-item a.menu-list-item-link {
    color: #080808 !important;
    font-size: 12px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: .1em;
    text-transform: uppercase;
}

header .header-menu-list-item.active a {
    color: #929292;
}

header .header-center img {
    width: 106px;
    height: 20px;
}

header .header-center a{
    display: flex;
}

header .header-right-links {
    display: flex;
    column-gap: 25px;
    align-items: center;
}

header .header-right-links a {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

header .header-right-special-spans {
    display: flex;
}

header .header-right-word {
    font-size: 12px;
    line-height: 1em;
    color: #080808;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.7px;
}

.header-right-special-spans span {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 1;
    font-weight: 400;
    color: #929292;
}

header .menu-responsive {
    display: none;
}

header .header-right-links i.bi-heart {
    font-size: 12.5px;
    font-weight: bold;
}
header .header-right-links i.bi-person {
    font-size: 18px;
    font-weight: bold;
}
header .header-menu-svg {
    width: 17px;
    height: 17px;
}

/* header dropdown start */
.header-menu-list-item {
    position: relative;
}
header .home-modal {
    transition: 1s ease all;
    visibility: hidden;
    opacity: 0;
    z-index: -11;
    min-width: 200px;
    position: absolute;
    left: -29px;
    top: 27px;
    background-color: #111111;
    padding: 20px 30px;
}

header .header-menu-list-item a {
    overflow: hidden;
}

header .header-menu-list-item #home-modal-first-link {
    color: #fff;
}

header .header-menu-list-item #home-modal-first-link .bi-arrow-right {
    display: inline-block;
}

.bi-arrow-right {
    display: none;
}

.home-modal-list {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

header .home-modal-list-li {
    display: flex !important;
    min-width: 177px !important;
}

header .home-modal-list-li .home-modal-list-link,
header .home-modal-list-li .home-modal-list-link .bi-arrow-right {
    transition: .5s ease all;
}

header .home-modal-list-li:hover .home-modal-list-link {
    color: white;
}

header .home-modal-list-li:nth-child(1) .home-modal-list-link {
    display: flex;
}

header .home-modal-list-li:nth-child(1):hover .home-modal-list-link > i {
    display: flex !important;
    margin-right: 3px;
}

header .home-modal-list-link:hover .bi-arrow-right {
    display: inline-block !important;
}

header .header-menu-list-item:hover .home-modal {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    top: 60px;
}

.home-modal-list-link {
    font-size: 14px;
}

header .shop-modal {
    display: flex;
    column-gap: 100px;
    padding: 36px 110px 36px 36px;
}

header .shop-modal ul {
    min-width: 155px;
}

header .shop-modal ul h4 {
    margin-bottom: 18.5px;
    font-family: 'Catamaran', sans-serif;
    color: #fff;
    font-size: 12px;
    line-height: 1.1em;
    font-weight: 700;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.shop-modal-spec {
    left: 1px !important;
}

.shop-modal .home-modal-list-link {
    color: #a5a5a5;
}

.pages-modal a {
    color: #a5a5a5;
}

.elements-modal {
    left: -175px !important;
}

.header-right-link.cart {
    position: relative;
}

.header-right-link {
    position: relative;
}

.header-right-link .right-link-search-place {
    visibility: hidden;
    z-index: -11;
    opacity: 0;
    position: absolute;
    right: -30px;
    top: 50px;
    background-color: #080808;
    padding: 13px 18px;
    outline: 0;
}

.header-right-link .right-link-search-place .search-place-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.header-right-link .right-link-search-place .search-place-wrapper > input {
    background-color: #080808;
    border: none;
    color: white;
    outline: 0;
}

.header-right-link .right-link-search-place .search-place-wrapper > i {
    display: flex;
    font-size: 12.5px;
    color: #fff;;
    opacity: .7;
    transition: all .3s ease;
    cursor: pointer;
}

.header-right-link .right-link-search-place .search-place-wrapper > i:hover {
    opacity: 1;
    transform: scale(1.06);
}

header .shopping-cart-dropdown {
    position: absolute;
    right: 0;
    top: 27px;
    background-color: #080808;
    padding: 22px;
    transition: 1s ease all;
    visibility: hidden;
    opacity: 0;
    z-index: -11;
}

.header-right-link.cart:hover .shopping-cart-dropdown {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    top: 50px;
}

.header-right-links .header-right-link {
    transition: .4s;
}

.header-right-links .header-right-link:hover:not(:first-child) > a {
    opacity: .6;
}

.shopping-cart-dropdown .cart-list-item-img-div {
    width: 50px;
    height: 50px;
}

.shopping-cart-dropdown .cart-list-item-img-div img {
    width: 50px;
}

.shopping-cart-list {
    overflow-y: auto;
    margin-bottom: 10px;
}

.shopping-cart-list::-webkit-scrollbar {
    width: 5px;
}
.shopping-cart-list::-webkit-scrollbar-track {
    background: pink;
}
.shopping-cart-list::-webkit-scrollbar-thumb {
    background: red;
}
.shopping-cart-list::-webkit-scrollbar-thumb:hover {
    background: darkred;
}

.shopping-cart-list-item {
    margin-bottom: 12px;
}

.shopping-cart-list-item .shopping-cart-list-item-wrapper {
    display: flex;
    column-gap: 10px;
}

.shopping-cart-list-item .cart-list-item-detail {
    display: flex;
    flex-direction: column;
    min-width: 140px;
    height: 100%;
    text-align: left;
}

.shopping-cart-list-item .spans-wrapper-cart-dropdown {
    display: flex;
    margin-top: 5px;
}

.shopping-cart-list-item .cart-list-item-detail h5 {
    font-size: 14px ;
    padding: 0 20px 0 0;
    color: #fff;
    font-weight: 400;
    letter-spacing: .1em;
    line-height: 20px;
    max-width: 400px;
}

.go-to-cart-details {
    display: flex;
    flex-direction: column;
    margin-top: 13px;
    row-gap: 10px;
}

.go-to-cart-details .go-to-cart-total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.5px;
}

.go-to-cart-total span {
    font-size: 12px;
    font-weight: 700;
    color: #fff !important;
    letter-spacing: .1em;
}

.cart-detail-btn {
    padding: 10px 25px;
    border: 1px solid #505050;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 9px;
    color: #fff;
    letter-spacing: 2px;
    transition: .4s ease all;
    outline: 0;
    cursor: pointer;
    text-align: center;
}

.cart-detail-btn.top:hover {
    border-color: #fff;
}

.cart-detail-btn.bottom {
    background-color:#505050;
    opacity: .75;
}

.cart-detail-btn.bottom:hover {
    opacity: 1;
}

.item-look-span-onklicked {
    visibility: hidden;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    background-color: #666666ce;
}
.span-onklicked-wrapper {
    background-color: #fff;
    padding: 15px 25px;
    min-width: 300px;
}

/* style of item hover look */
.span-onklicked-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.hover-table {
    border-collapse: collapse;
    margin-bottom: 15px;
}

.hover-tbody-sec > tr {
    border: 1px solid #929292;
    display: flex;
    padding: 10px 0 !important;
    padding-left: 30px !important;
    column-gap: 30px;
    justify-content: space-between;
}

.hover-wishlist {
    display: flex;
    column-gap: 10px;
    align-items: center;
    font-size: 12px;
    color: #080808;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 22px;
    font-family: 'Catamaran', sans-serif;
}
.hover-wishlist i {
    display: flex;
    font-size: 14px;
}

.onklicked-right {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 45px 15px;
}

.litt {
    font-size: 13px !important;
    color: #929292;
}

.hover-add-to-cart {
    color: #fff;
    font-size: 15px;
    padding: 10px 30px;
    border: 1px solid black;
    background-color: black;
}

.hover-input {
    border: none;
    outline: 0;
    width: 14px;
    color: #929292;
}

.hover-title {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 2px;
    text-align: left;
    font-family: 'Catamaran',sans-serif;
    text-transform: uppercase;
}

.hover-price {
    line-height: 1;
    color: #080808;
    font-size: 24px;
    font-family: Montserrat,sans-serif;
    text-align: left;
}

.item-stars {
    margin-top: 40px;
    font-family: ElegantIcons;
    font-size: 12px;
    line-height: 1.1em;
    letter-spacing: 1.3px;
    color: #ebbc00;
}

.hover-desc {
    max-width: 450px;
    font-family: Catamaran,sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    color: #929292;
    text-align: left;
    margin-bottom: 30px;
}




.login-section {
    visibility: hidden;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    background-color: #666666ce;
}

.login-section .login-sec-wrapper {
    background-color: #fff;
    padding: 15px 25px;
    min-width: 300px;
}

.login-section .login-headers {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: -11px;
}

.login-section .login-headers a {
    color: #080808 !important;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
}

.login-headers .login {
    padding: 5px 20px;
    background-color: #f8f8f8dc;
    border: 1px solid #F8F8F8;
    border-radius: 5px;
}

.login-headers .login.active {
    background-color: white;
}

.login-contents {
 margin-top: 18px;
 display: flex;
 flex-direction: column;
 row-gap: 10px;
}

.login-contents .login-btn {
    padding: 15px 20px;
    font-size: 13px;
    line-height: 18px;
    color: #929292;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    outline: 0;
    height: 50px;
    margin-bottom: 10px;
    width: 100%;
}

.login-contents #login-checkbox-span {
    font-size: 14px;
    line-height: 25px;
    color: #929292;
    padding-top: 2px;
}

.login-contents .login-checkbox-wrapper {
    display: flex;
    column-gap: 5px;
    align-items: center;
}

.login-contents .login-checkbox-wrapper label {
    display: flex;
}

.login-contents .login-lost-wrapper {
    margin-top: 7px;
    margin-bottom: 1px;
}

.login-contents #login-lost-pass {
    font-weight: thin !important;
    font-size: 15px;
    line-height: 25px;
    color: #929292;
}

.login-contents #login-btn-submit {
    font-family: 'Catamaran', sans-serif;
    width: 100%;
    padding: 10px 0;
    font-size: 12px;
    line-height: 30px;
    letter-spacing: .15em;
    font-weight: 700;
    color: #F8F8F8;
    background-color: #080808;
    margin-bottom: 10px;
    transition: .5s ease all;
    cursor: pointer;
}

.login-contents #login-btn-submit:hover {
    opacity: .8;
}

.right-menu-section {
    color: white;
    visibility: visible;
    position: fixed;
    top: 0;
    right: -605px;
    width: 605px;
    height: 100%;
    min-height: 100%;
    padding: 66px 62px 151px;
    background-color: #111;
    overflow: hidden;
    visibility: hidden;
    z-index: -11;
    -webkit-backface-visibility: hidden;
    box-sizing: border-box;
    box-shadow: -3px 0 3px rgba(0,0,0,.04);
    -webkit-transition: all .6s cubic-bezier(.77,0,.175,1);
    -moz-transition: all .6s cubic-bezier(.77,0,.175,1);
    transition: all .6s cubic-bezier(.77,0,.175,1);
    text-align: center;
}

.right-menu-section .close-btn {
    position: absolute;
    top: 36px;
    right: 36px;
    cursor: pointer;
}

.right-menu-section .close-btn i {
    font-size: 23px;
    color: #787878;
}

.right-menu-section .right-menu-images {
    display: flex;
    flex-direction: column;
}

.right-menu-section .menu-images-wrapper {
    display: flex;
    column-gap: 7px;
    width: 380px;
}

.right-menu-section .menu-images-wrapper > div {
    width: 1px;
    flex: 1;
}

.right-menu-section .menu-images-wrapper img {
    width: 100%;
    height: 100%;
}

.menu-section-top {
    height: 100%;
}

.menu-section-top .right-menu-title {
    font-family: 'Catamaran', sans-serif !important;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    margin: 20px 0;
    letter-spacing: 2px;
    vertical-align: baseline;
    font-weight: bold;
}

.menu-section-top .right-menu-content-wrapper {
    margin-bottom: 40px;
}

.menu-section-top .right-menu-content {
    color: #929292;
    font-size: 24px;
    font-weight: thin !important;
    line-height: 1.5;
}

.menu-section-top .right-menu-images {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    align-items: center;
}

.menu-section-bottom .menu-section-bottom-title {
    font-family: 'Catamaran', sans-serif !important;
    color: #afafaf;
    font-size: 12px;
    line-height: 18px;
    margin: 20px 0;
    letter-spacing: 2px;
}

.menu-section-bottom-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 25px;
}

.menu-section-bottom-icons > div > i {
    display: flex;
    font-size: 15px;
    cursor: pointer;
}

.menu-images-wrapper .image-wrapper {
    position: relative;
}

.menu-images-wrapper .image-wrapper:hover .image-shadow-link {
    visibility: visible;
    z-index: 999;
    height: 100%;
}

.menu-images-wrapper .image-shadow-link {
    transition: all .2s ease;
    visibility: hidden;
    z-index: -11;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: #0808089b;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.image-shadow-link .bi-instagram {
    font-size: 25px;
    display: flex;
}
/* header end */


/* slider start */
main {
    border-bottom: 1px solid #92929252;
}

.main-slider-section {
    z-index: -10;
    overflow: hidden;
    height: 800px;
    max-width: 1500px;
    background-color: #F3F3F3;
    margin: 0 auto;
    position: relative;
}

.slider-image {
    visibility: hidden;
    right: -200px;
    z-index: -11;
}

body:hover .slider-image {
    visibility: visible;
    position: absolute;
    top: 10px;
    right: 10px;
    /* width: 605px; */
    height: 100%;
    min-height: 100%;
    padding: 66px 62px 151px;
    overflow: hidden;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    box-sizing: border-box;
    /* box-shadow: -3px 0 3px rgba(0,0,0,.04); */
    -webkit-transition: all .6s cubic-bezier(.77,0,.175,1);
    -moz-transition: all .6s cubic-bezier(.77,0,.175,1);
    transition: all .6s cubic-bezier(.77,0,.175,1);
    text-align: center;
}

.slider-content {
    visibility: hidden;
    left: -200px;
    z-index: -11;
}

body:hover .slider-content {
    visibility: visible;
    position: absolute;
    bottom: -500px;
    left: 10px;
    /* width: 605px; */
    height: 100%;
    min-height: 100%;
    padding: 66px 62px 151px;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    box-sizing: border-box;
    /* box-shadow: -3px 0 3px rgba(0,0,0,.04); */
    -webkit-transition: all .6s cubic-bezier(.77,0,.175,1);
    -moz-transition: all .6s cubic-bezier(.77,0,.175,1);
    transition: all .6s cubic-bezier(.77,0,.175,1);
    text-align: left;
}

.slider-content h2 {
    font-family: 'Catamaran', sans-serif;
}

.slider-content p {
    font-family: 'Catamaran', sans-serif;
    color: #929292;
}

.slider-selectors {
    position: absolute;
    top: 42%;
    left: -10px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.slider-selectors > span {
    cursor: pointer;
    color: #505050 !important;
    font-size: 22px;
}

.selector {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.selector i {
    display: flex;
    margin-top: 6px;
    margin-left: 3px;
}

.selector-num {
    font-size: 14px;
    color: #505050;
}


/* slider end */


.products-section-row {
    margin: 50px 0;
}

.products-section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.products-section-list {
    display: flex;
    column-gap: 3cap;
}

.products-section-list li a {
    display: flex;
    font-size: 12.5px;
    font-family: 'Catamaran', sans-serif;
    letter-spacing: 1.5px;
    color: #929292;
}

.products-section-list li:nth-child(1) a {
    color: black;
}

.products-item-filter {
    display: flex;
    align-items: center;
    column-gap: 7px;
    cursor: pointer;
}
.products-item-filter h6 {
    display: flex;
    font-weight: 500 !important;
    letter-spacing: 1.2px;
}
.products-item-filter i {
    display: flex;
    font-size: 12px;
}

.products-section-items-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    row-gap: 50px;

}

.product-item {
    text-align: center;
    position: relative;
}

.product-item .item-info-hover {
    display: none !important;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 47px;
    display: flex;
    align-items: center;
}

.product-item:hover .item-info-hover {
    display: flex !important;
}

.product-item .item-look-span span {
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 10px;
    font-weight: 700;
    color: #fff;
    background-color: #080808;
    padding: 7px 10px;
    cursor: pointer;
}

.product-item .item-look-heart i {
    display: flex;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 10px;
    font-weight: 700;
    color: #fff;
    background-color: #080808;
    padding: 8px 10px;
    opacity: .6;
    margin-top: 2px;
}

.product-item .prod-image {
    width: 300px;
    height: 310px;
}

.product-item .prod-image img {
    width: 100%;
    height: 100%;
}

.prod-detail {
    margin-top: 18px;
    font-family: 'Catamaran', sans-serif;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.prod-detail h5 {
    font-size: 14px;
    letter-spacing: 1.2px;
    font-weight: 400;
}

.prod-detail span {
    font-size: 13px;
    letter-spacing: 1.2px;
}

/* footer start */

.footer-section-wrapper {
    padding-left: 5px;
    padding-right: 5px;
}

footer .footer-top {
    padding: 70px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 180px;
    border-bottom: 1px solid #92929226;
}

footer .footer-top > div > h5 {
    font-family: 'Catamaran', sans-serif;
    letter-spacing: 1.3px;
    margin-bottom: 20px;
    font-weight: 500;
}

footer .footer-top > div > ul {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}
footer .footer-top > div > ul > li {
    font-family: 'Catamaran', sans-serif;
    display: flex;
    font-size: 12px;
    letter-spacing: 1.1px;
    color: #929292;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    align-items: center;
}

.footer-bottom > div {
    display: flex;
    column-gap: 10px;
}

.footer-bottom > div span {
    display: flex;
    font-size: 12px;
}

.footer-bottom > div:nth-child(1) span {
    color: #929292;
    letter-spacing: .9px;
}

.footer-bottom > div:nth-child(2) span {
    font-weight: 100;
    letter-spacing: .5px;
}

.footer-bottom > div i {
    display: flex;
    font-size: 12px;
}


/* responsive   */
@media (max-width: 1200px) {
    .header-wrapper {
        justify-content: space-between;
    }
    header .header-left {
        display: none;
    }
    .footer-top {
        gap: 50px !important;
    }

    .products-section-items-wrapper {
        justify-content: center;
    }
    .slider-content {
        top: -27px;
        left: -20px;
    }
    .slider-selectors {
        visibility: hidden;
    }
    .products-section-list {
        flex-wrap: wrap;
        gap: 5px;
    }
    .products-item-filter {
        padding-top: 30px;
    }
  }

  @media (max-width: 1024px) {
    header .header-right-link:not(:last-child) {
        display: none;
    }
    header .header-right-link {
        display: flex;
        align-items: center;
        column-gap: 7px;
        text-transform: uppercase;
        font-weight: 300 !important;
        letter-spacing: 1.5px;
    }
    header .menu-responsive {
        display: block;
    }

    .slider-section {
        max-width: 1100px;
    }

    .quick-look-i {
        margin-bottom: 3px;
    }

  }
