/* base start */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
} 

.container {
    max-width: 1260px;
    width: 100%;
    margin: 0 auto !important;
}


/* base responsive  */

@media (max-width: 1200px) {
    .container {
      max-width: 992px;
    }
  }
  
  @media (max-width: 992px) {
    .container {
      max-width: 768px;
    }
  }
  
  @media (max-width: 768px) {
    .container {
      max-width: 576px;
    }
  }
  
  @media (max-width: 576px) {
    .container {
      max-width: 400px;
    }
  }
  
  @media (max-width: 420px) {
    .container {
      max-width: 350px;
    }
  }
