.products-section-wrapper {
    display: flex;
    flex-direction: row;
}

.left-header-h4 {
    margin-bottom: 30px;
    color: #323232;
    line-height: 26px;
    font-size: 14px;
    font-family: 'Catamaran', sans-serif;
}

.left-layers-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.left-layers-list li {
    color: #929292;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    font-family: 'Catamaran', sans-serif;
}

/* @media (max-width: 784px) {
    .lop {
        display: none !important;
    }
    .lop-items-wrapper {
        align-items: center !important;
        justify-content: center !important;
    }
} */